*{
    box-sizing: border-box !important;
    margin: 0;
}
body{
    font-family: 'Trebuchet MS', sans-serif;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2); 
    display: none;
    opacity: 0.2;
} 
body::-webkit-scrollbar-thumb {
    background: rgb(158, 157, 157);
    border-radius: 10px; 
}
body::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 10px;
}
nav{
    background: url('../images/bg_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
nav::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
}
nav .navbar{
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
}
nav .navbrand{
    margin-left: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 25px;
    font-family: Copperplate, Papyrus, fantasy;
    position: relative;
}
nav  .navbrand a img{
    width: 100%;
    height: 100px;
}
nav  .navbrand a{
    color: white;
    text-decoration: none;
}
nav .navbrand a:hover{
    color: rgb(255, 136, 0); 
}
nav .navbar .navitem{
    margin-right: 25px;
    font-size: 25px;
    font-weight: 400;
    
}
nav .navbar .navitem a{
    text-decoration: none;
    color: white;
}
nav .navbar .navitem a:hover{
    color: rgb(209, 207, 207);
    transition: 0.2s;
}
nav .navbar .navitem:hover{
    transform: scale(1.05);
}
nav .about{
    color: white;
    font-family: Courier, monospace;
    width: 100%;
    text-align: center;
    text-justify: center;
    font-size: 35px;
    position: absolute;
    bottom: 50%;
    padding: 1%;
    align-self: center;
}

/* tab */
@media  only screen and (min-device-width: 650px) and (max-device-width: 1100px), only screen and (min-width: 650px) and (max-width: 1100px){
    nav .navbar{
        width: 80%;
    }
    nav .navbrand{
        width: 100%;
        justify-content: flex-start;
    }
    nav  .navbrand a img{
        width: 100%;
        height: 100px;
    }
    nav .navbar .navitem{
        font-size: 20px;
        font-weight: 800;
    }
}

/* mobile */
@media only screen and (max-device-width: 650px), only screen and (max-width: 650px){
    nav{
        
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    nav .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0px;
    }
    nav .navbrand{
        font-size: 30px;
        width: 100%;
        margin: 0;
        justify-content: center;
    }
    nav  .navbrand a img{
        width: 80%;
        height: 100px;
    }
    nav .navbar .navitem{
        margin: 25px;
        font-size: 30px;
        font-weight: 800;
        height: 5vh;
    }
    nav .about{
        display: none;;
    }
}
